@page "{id:int}"
@model FilmManagementWeb.Pages.Warehouses.EditModel
@{
    ViewData["Title"] = "Chỉnh sửa kho";
}

<h2>Chỉnh sửa kho</h2>
@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-danger">@Model.Message</div>
}
<form method="post">
    <input type="hidden" asp-for="Warehouse.WarehouseId" />
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Tên kho</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" asp-for="Warehouse.Location" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Số lượng phim</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" asp-for="Warehouse.Capacity" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Lưu</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/Warehouses" role="button">Hủy</a>
        </div>
    </div>
</form>
