@page
@model FilmManagementWeb.Pages.Identity.Account.ForgotPassword

@{
    ViewData["Title"] = "Quên mật khẩu";
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <title>@ViewData["Title"] - FilmManagementWeb</title>
</head>

<div class="position-relative d-flex justify-content-center align-items-center vh-100 overflow-hidden">
    
    <div class="position-absolute top-0 start-0 w-100 h-100" id="overlayYTB" style="z-index: 1;transition: opacity 2s ease;opacity: 1;pointer-events: none;overflow: hidden;">
        <img src="@(Model.bSuccess ? "/image/HappyCat.jpg":"/image/BrainLoading.jpg")" alt="Ảnh phủ"style="width: 100%; height: 100%; object-fit: cover; object-position: center;">
    </div>

    <div class="card shadow-lg p-4" style="max-width: 680px; width: 100%; border-radius: 1rem; background-color: rgba(255,255,255,0.9);z-index: 1">
        <h1 class="text-center mb-4">Lấy lại Mật khẩu</h1>
        @if (!string.IsNullOrEmpty(Model.Message))
        {
            <div class="alert @(Model.bSuccess ? "alert-success" : "alert-danger")" role="alert">
                @Model.Message
            </div>
        }
        @if (!Model.bSuccess)
        {
            <form method="post">
                <div class="form-floating mb-3">
                    <input asp-for="Email" class="form-control" autocomplete="off" aria-required="false" placeholder="name@example.com"/>
                    <label asp-for="Email">Email</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-between align-items-center gap-2 mt-4">
                    <!--Back -->
                    <button type="button" onclick="history.back()" class="btn btn-outline-dark btn-lg w-50">
                        ← Back
                    </button>
                    <!--Register -->
                    <button type="submit" class="btn btn-dark btn-lg w-50">
                        Gửi
                    </button>
                </div>
            </form>
        }
        else
        {
            <div class="d-flex justify-content-center mt-3">
                <button type="button" class="btn btn-link" onclick="window.location.href='./Login'">Đăng Nhâp</button>
                <div class="vr mx-2"></div>
                <button type="button" class="btn btn-link" onclick="window.location.href='/Index'">Trang Chủ</button>
            </div>
        }
    </div>
</div>